Source: dart7-nightly
Priority: extra
Maintainer: Jeongseok Lee <jslee02@gmail.com>
Build-Depends: debhelper (>= 9),
               cmake,
               coinor-libipopt-dev,
               freeglut3-dev,
               git,
               libeigen3-dev,
               libccd-dev,
               libfcl-dev,
               libfmt-dev,
               libbullet-dev,
               libode-dev,
               libassimp-dev,
               libnlopt-cxx-dev,
               libxi-dev,
               libxmu-dev,
               libtinyxml-dev,
               libtinyxml2-dev,
               liburdfdom-dev,
               liboctomap-dev,
               libopenthreads-dev,
               libopenscenegraph-dev,
               libpython3-dev,
               libspdlog-dev,
               libyaml-cpp-dev,
               ocl-icd-opencl-dev,
               python3-dev,
               python3-numpy,
               pybind11-dev,
               python3-pytest,
               python3
Standards-Version: 3.9.8
Section: libs
Homepage: http://dartsim.github.io/
Vcs-Git: git://github.com/dartsim/dart.git
Vcs-Browser: https://github.com/dartsim/dart

Package: libdart7-external-convhull-3d-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Conflicts: libdart7-external-convhull-3d-dev
Description: convhull_3d - Development
 A header only C implementation of the 3-D quickhull algorithm

Package: libdart7-external-ikfast-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Conflicts: libdart7-external-ikfast-dev
Description: IKFast - Development
 Header file for all ikfast c++ files/shared objects. The ikfast inverse
 kinematics compiler is part of OpenRAVE.

Package: libdart7-external-imgui-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-external-imgui
Description: dear imgui (AKA ImGui) - Shared Files
 dear imgui (AKA ImGui), is a bloat-free graphical user interface library for
 C++. It outputs optimized vertex buffers that you can render anytime in your
 3D-pipeline enabled application. It is fast, portable, renderer agnostic and
 self-contained (no external dependencies).

Package: libdart7-external-imgui-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libdart7-external-imgui-nightly (= ${binary:Version})
Conflicts: libdart7-external-imgui-dev
Description: dear imgui (AKA ImGui) - Development
 dear imgui (AKA ImGui), is a bloat-free graphical user interface library for
 C++. It outputs optimized vertex buffers that you can render anytime in your
 3D-pipeline enabled application. It is fast, portable, renderer agnostic and
 self-contained (no external dependencies).

Package: libdart7-external-odelcpsolver-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-external-odelcpsolver
Description: Open Dynamics Engine - Shared Library
 ODE is a free, industrial quality library for simulating articulated rigid body
 dynamics - for example ground vehicles, legged creatures, and moving objects in
 VR environments. It is fast, flexible, robust and platform independent, with
 advanced joints, contact with friction, and built-in collision detection.

Package: libdart7-external-odelcpsolver-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libdart7-external-odelcpsolver-nightly (= ${binary:Version})
Conflicts: libdart7-external-odelcpsolver-dev
Description: Open Dynamics Engine - Development Files
 ODE is a free, industrial quality library for simulating articulated rigid body
 dynamics - for example ground vehicles, legged creatures, and moving objects in
 VR environments. It is fast, flexible, robust and platform independent, with
 advanced joints, contact with friction, and built-in collision detection.

Package: libdart7-common-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-common
Description: DART common component - Shared Library

Package: libdart7-common-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-common-dev
Depends: ${misc:Depends},
         libdart7-common-nightly (= ${binary:Version}),
         libeigen3-dev,
         libfmt-dev,
         libspdlog-dev
Description: DART common component - Development Files

Package: libdart7-math-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-math
Description: DART math component - Shared Library

Package: libdart7-math-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-math-dev
Depends: ${misc:Depends},
         libdart7-common-dev-nightly,
         libdart7-math-nightly (= ${binary:Version}),
         libeigen3-dev
Description: DART math component - Development Files

Package: libdart7-optimization-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-optimization
Description: DART optimization component - Shared Library

Package: libdart7-optimization-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-optimization-dev
Depends: ${misc:Depends},
         libdart7-math-dev-nightly,
         libdart7-optimization-nightly (= ${binary:Version}),
         libeigen3-dev,
         libnlopt-cxx-dev,
         coinor-libipopt-dev
Description: DART optimization component - Development Files

Package: libdart7-collision-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-collision
Description: DART collision component - Shared Library

Package: libdart7-collision-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-collision-dev
Depends: ${misc:Depends},
         libdart7-math-dev-nightly,
         libdart7-optimization-dev-nightly,
         libdart7-collision-nightly (= ${binary:Version}),
         libeigen3-dev
Description: DART collision component - Development Files

Package: libdart7-dynamics-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-dynamics
Description: DART dynamics component - Shared Library

Package: libdart7-dynamics-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-dynamics-dev
Depends: ${misc:Depends},
         libdart7-math-dev-nightly,
         libdart7-optimization-dev-nightly,
         libdart7-collision-dev-nightly,
         libdart7-dynamics-nightly (= ${binary:Version}),
         libassimp-dev,
         libbullet-dev,
         libccd-dev,
         libfcl-dev,
         libode-dev,
         liboctomap-dev
Description: DART dynamics component - Development Files

Package: libdart7-simulation-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-simulation
Description: DART simulation component - Shared Library

Package: libdart7-simulation-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-simulation-dev
Depends: ${misc:Depends},
         libdart7-math-dev-nightly,
         libdart7-optimization-dev-nightly,
         libdart7-collision-dev-nightly,
         libdart7-dynamics-dev-nightly,
         libdart7-simulation-nightly (= ${binary:Version})
Description: DART simulation component - Development Files

Package: libdart7-io-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-io
Description: DART io component - Shared Library

Package: libdart7-io-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-io-dev
Depends: ${misc:Depends},
         libdart7-math-dev-nightly,
         libdart7-optimization-dev-nightly,
         libdart7-collision-dev-nightly,
         libdart7-dynamics-dev-nightly,
         libdart7-simulation-dev-nightly,
         libdart7-io-nightly (= ${binary:Version}),
         libtinyxml-dev,
         libtinyxml2-dev,
         liburdfdom-dev,
         libyaml-cpp-dev
Description: DART io component - Development Files

Package: libdart7-gui-nightly
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdart7-gui
Description: DART gui component - Shared Library

Package: libdart7-gui-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-gui-dev
Depends: ${misc:Depends},
         libdart7-math-dev-nightly,
         libdart7-optimization-dev-nightly,
         libdart7-collision-dev-nightly,
         libdart7-dynamics-dev-nightly,
         libdart7-simulation-dev-nightly,
         libdart7-io-dev-nightly,
         libdart7-gui-nightly (= ${binary:Version}),
         freeglut3-dev,
         libopenthreads-dev,
         libopenscenegraph-dev,
Description: DART gui component - Development Files

Package: dart7-data-nightly
Architecture: all
Depends: ${misc:Depends},
         dart7-data-nightly
Description: DART data from the DART source.

Package: dart7-examples-nightly
Architecture: all
Depends: ${misc:Depends},
         dart7-data-nightly
Conflicts: dart7-data
Description: DART examples from the DART source.

Package: dart7-tutorials-nightly
Architecture: all
Depends: ${misc:Depends},
         dart7-data-nightly
Conflicts: dart7-tutorials
Description: DART tutorials from the DART source.

Package: libdart7-all-dev-nightly
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libdart7-gui-dev
Depends: ${misc:Depends},
         dart7-data-nightly,
         dart7-examples-nightly,
         dart7-tutorials-nightly,
         libdart7-common-dev-nightly,
         libdart7-math-dev-nightly,
         libdart7-optimization-dev-nightly,
         libdart7-collision-dev-nightly,
         libdart7-dynamics-dev-nightly,
         libdart7-simulation-dev-nightly,
         libdart7-io-dev-nightly,
         libdart7-gui-nightly
Description: DART - Development Files
